.auth {
    margin: 0;
    background: linear-gradient(80deg, #ff70a6, #ff9770, #ffd670, #e9ff70);
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.class-box {
    height: 300px;
    width: 400px;
    background: linear-gradient(80deg, #ff70a6, #ff9770, #ffd670, #e9ff70);
    padding: 20px;
    box-shadow: 10px 10px 5px grey;
}
.img {
    height: 50px;
    width: 50px;
}
